* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  :root {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;

    --text-color: white;
    --titleTable-color: #092D38;

    --tables01:#2F2F33;
    --borders-button: #4A808C;

  }
  
  body {
    font-size: 1.6rem;
    color: var(--text-color);
    background-color: black;
    
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  
  #app {
    padding: 2rem;
    max-width: 1120px;
    margin: 9rem auto;
  }
  /***** HEADER ********/

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8.7rem;

  }

  header img{
    width: 18.6rem;
    height: 3.2rem;
 
  }

  .search {
    display:flex;
    align-items: center;
    justify-content: space-around;
    gap:.8rem;
    width: 64rem;
  
  }

  @media (max-width: 600px) {
    .text_button{
      display:none;
    }
 
    }

    


  .search input{
    height: 3.5rem;
    width: 100%;
    margin: 0  0  0 3.5rem;
    border-radius: 5px;
    padding: 0 .8rem;
    background: #06181C;
    color:var(--text-color);
    
  }

  .search button{
    background-color: var(--titleTable-color);
    height: 3.5rem;
    border: none;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;


    padding: 1.2rem 3.2rem;
  

    color:var(--text-color);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    gap:.8rem;

    cursor: pointer;
  }

  .search button img{
    width: 1.8rem;
    height: 2rem;
  }
   

  .search button:hover{
    filter:brightness(1.1)
  }

/******* FORM *******/
 


/******* SCROLLBAR ***/
.favList {
    border-radius: 2rem;
    border: .1rem solid var(--borders-button);
    max-width: auto;
    overflow: overlay;  

    height: 62rem;
}

.favList::-webkit-scrollbar {
    width: 2.2rem;
   
}

.favList::-webkit-scrollbar-thumb {
    width: .6rem;
    height: .2rem;
    background-color: transparent;
    border-radius: 8rem;
    box-shadow: inset 0 0 0px 6px #4A808C;
    border: solid .8rem transparent;
}

.favList::-webkit-scrollbar-track{
    margin-block-start: 5.8rem;
} 


/****** TABLES ****/
 table {
  width: 100%;

}

  table * {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;

  }


  table th {
    background-color: var(--titleTable-color);
    text-align: left;
    font-weight:bold;
    padding:2.5rem;
    
  }
/*
  table th:first-child {
    border-top-left-radius: .4rem;
   
  }
  table th:last-child {
    border-top-right-radius: .4rem;
  }
*/
 

table tr:nth-child(odd){
    background-color:var(--tables01); 
   
  }

 table th, td{
  border-bottom: .1rem solid var(--borders-button);
 }

thead th:first-child {
  left: 0;
  z-index: 1;
 }
thead th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
  
tbody th {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }


   td{
    padding: 1.5rem;
    text-align:left;
  }

td.user{
    display:flex;
    align-items: center;
    gap:1rem;
    
  }
thead tr, th:nth-child(1){
    padding-left: 4.5rem;
    
  }


td.user img {
    width: 5rem;
    height: 5rem;
    object-fit:over;
    border-radius: 50%;
    margin-left: 2rem;
  }

td.user a {
    text-decoration: none;
    color: white;
    
  }

td.user a p {
    font-weight: bold;
    
  }

td .remove {
    background: none;
    border:none;
    color:red;
    cursor: pointer;
  }

